*{
    background-color: lightgray;
    text-transform: uppercase;
    text-align: justify;
}

p{
    color: black;
   
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: underline;

}
.f1{
    text-transform: uppercase;
    font-size: 20px;
}
#test{
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: underline;
}
.f2{
    text
}

li {
    list-style: none;
    display: inline;
    color:black;
    text-transform: uppercase;
}
